@import './partials/base';
@import './modules/modules';
@import './components/components';

/* Slick */
@include tablet {
  .slick-slide {
    margin: 0 1rem;
  }
}
.slick-dots {
  bottom: -35px;
}
.slick-dots li button:before {
  font-size: 8px;
}
.slick-dots li.slick-active button:before {
  color: $red-medium;
}


.content-card {
  &__items {
    margin-top: 2rem;
    @include tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
    }
    @include notebook {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &__item {
    margin-bottom: 3.5rem;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__tag {
    font-family: $primary-medium;
    font-size: 0.725em;
    color: $dark;
    margin: 0.5rem 0.6rem 0.5rem 0;
    background: #eaeaea;
    padding: 0.45rem 0.75rem;
    border-radius: 12px;
  }
  &__time {
    font-family: $primary-medium;
    font-size: 0.875em;
    color: $dark;
  }
  &__title {
    font-family: $primary-bold;
    font-size: 1.5em;
    color: $black;
    line-height: $medium;
    margin: 0.5rem 0;
  }
}

/* Logos de Clientes */
.logos {
  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.6rem;
    margin-top: 2rem;
    @include tablet {
      max-width: 720px;
      margin: 2rem auto 0 auto;
      gap: 1.5rem;
    }
  }
  &__item {
    max-width: 150px;
  }
}


/* Quem somos */
.content-columns__two {
  column-count: 2;
  max-width: 960px;
  margin: 2rem auto 0 auto;
  gap: 50px;
}

/* Footer */
.footer {
  color: $white;
  padding: 2rem 0;
  background-color: $black;
  &__title--primary {
    font-family: $primary-bold;
    font-size: 1.125em;
    color: currentColor;
    margin-bottom: 1.125em;
  }
  &__text--primary {
    font-family: $primary-regular;
    font-size: 1em;
    color: currentColor;
  }
  &__contact a {
    display: inline-block;
    margin: 0 0 0.75em 0;
  }
  &__social {
    .social__items {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin: 2rem 0;
      .social__item {
        width: 35px;
        height: 35px;
      }
    }
  }
  &__copyright p {
    text-align: center;
    margin: 0 0 0.55em 0;
    @include tablet {
      text-align: right;
      line-height: 148%;
    }
  }
  &__copyright .terms__items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: $dark;
    font-size: 0.75rem;
    text-decoration: underline;
    margin: 1.5rem 0 0 0;
    @include tablet {
      justify-content: flex-end;
    }
  }

  .container {
    @include tablet {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
    }
  }
}

