$red-darkest    : #550621;
$red-dark       : #801124;
$red-medium     : #B22222;
$red-light      : #D05D52;
$red-lightest   : #E78A77;

$green-darkest    : #114805;
$green-dark       : #2A6C0E;
$green-medium     : #4F961C;
$green-light      : #82C04A;
$green-lightest   : #ACDF72;

$blue-darkest    : #01134F;
$blue-dark       : #032876;
$blue-medium     : #0646A5;
$blue-light      : #3778C9;
$blue-lightest   : #60A0E3;


$yellow-darkest    : #6B4500;
$yellow-dark       : #A17001;
$yellow-medium     : #E0A802;
$yellow-light      : #ECC43C;
$yellow-lightest   : #F5D863;

$black      : #000000;
$darkest    : #333333;
$darker     : #525252;
$dark       : #858585;
$light      : #999999;
$lighter    : #ADADAD;
$lightest   : #EBEBEB;
$white      : #ffffff;
