@font-face {
  font-family: 'Roboto-Black';
  src: url('./font/Roboto-Black.eot');
  src: url('./font/Roboto-Black.eot?#iefix') format('embedded-opentype'),
      url('./font/Roboto-Black.woff2') format('woff2'),
      url('./font/Roboto-Black.woff') format('woff'),
      url('./font/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto-BlackItalic';
  src: url('./font/Roboto-BlackItalic.eot');
  src: url('./font/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('./font/Roboto-BlackItalic.woff2') format('woff2'),
      url('./font/Roboto-BlackItalic.woff') format('woff'),
      url('./font/Roboto-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto-BoldItalic';
  src: url('./font/Roboto-BoldItalic.eot');
  src: url('./font/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('./font/Roboto-BoldItalic.woff2') format('woff2'),
      url('./font/Roboto-BoldItalic.woff') format('woff'),
      url('./font/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('./font/Roboto-Bold.eot');
  src: url('./font/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
      url('./font/Roboto-Bold.woff2') format('woff2'),
      url('./font/Roboto-Bold.woff') format('woff'),
      url('./font/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto-Italic';
  src: url('./font/Roboto-Italic.eot');
  src: url('./font/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
      url('./font/Roboto-Italic.woff2') format('woff2'),
      url('./font/Roboto-Italic.woff') format('woff'),
      url('./font/Roboto-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('./font/Roboto-Light.eot');
  src: url('./font/Roboto-Light.eot?#iefix') format('embedded-opentype'),
      url('./font/Roboto-Light.woff2') format('woff2'),
      url('./font/Roboto-Light.woff') format('woff'),
      url('./font/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('./font/Roboto-Medium.eot');
  src: url('./font/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
      url('./font/Roboto-Medium.woff2') format('woff2'),
      url('./font/Roboto-Medium.woff') format('woff'),
      url('./font/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto-MediumItalic';
  src: url('./font/Roboto-MediumItalic.eot');
  src: url('./font/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('./font/Roboto-MediumItalic.woff2') format('woff2'),
      url('./font/Roboto-MediumItalic.woff') format('woff'),
      url('./font/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto-LightItalic';
  src: url('./font/Roboto-LightItalic.eot');
  src: url('./font/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('./font/Roboto-LightItalic.woff2') format('woff2'),
      url('./font/Roboto-LightItalic.woff') format('woff'),
      url('./font/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto-Thin';
  src: url('./font/Roboto-Thin.eot');
  src: url('./font/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
      url('./font/Roboto-Thin.woff2') format('woff2'),
      url('./font/Roboto-Thin.woff') format('woff'),
      url('./font/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto-ThinItalic';
  src: url('./font/Roboto-ThinItalic.eot');
  src: url('./font/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
      url('./font/Roboto-ThinItalic.woff2') format('woff2'),
      url('./font/Roboto-ThinItalic.woff') format('woff'),
      url('./font/Roboto-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('./font/Roboto-Regular.eot');
  src: url('./font/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
      url('./font/Roboto-Regular.woff2') format('woff2'),
      url('./font/Roboto-Regular.woff') format('woff'),
      url('./font/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$primary-bold:"Roboto-Bold";
$primary-medium: "Roboto-Medium";
$primary-regular: "Roboto-Regular";
$primary-light: "Roboto-Light";


/* Line-height */ 
$larger: 148%;
$medium: 120%;



/* Spacing */ 
$padding-mobile: 1.5rem;

/* Banner Titles */
.banner {
  &__title--primary {
    font-family: "Roboto-Bold";
    font-size: 2.5em;
    line-height: 120%;
    margin: 0;
  }
  &__subtitle--primary{
    font-family: $primary-light;
    font-size: 1.125em;
    line-height: 148%;
  }
  &__title--secondary{
    font-family: "Roboto-Bold";
    font-size: 2em;
    line-height: 120%;
    margin: 0;
  }
  &__subtitle--secondary{
    font-family: "Roboto-Light";
    font-size: 2em;
    line-height: 120%;
  }
  @include tablet-landscape {
    &__title--primary {
      font-size: 4em;
    }
    &__subtitle--primary {
      font-size: 1.5em;
    }
    &__title--secondary {
      font-size: 3.125em;
    }
    &__subtitle--secondary {
      font-size: 3.125em;
    }
  }
}

/* Section Titles */
.section {
  &__title--primary {
    font-family: "Roboto-Light";
    font-size: 2em;
    color: currentColor;
    text-transform: uppercase;
    line-height: 120%;

    /* Escope */
    strong {
      font-family: $primary-regular;
      color: $red-medium;
      text-decoration: underline;
    }
  }
  &__subtitle--primary{
    font-family: "Roboto-Light";
    font-size: 1em;
    color: currentColor;
    line-height: 148%;
    margin: 0.5rem 0 2rem 0;
  }
  &__title--secondary {
    font-family: "Roboto-bold";
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    line-height: 120%;
  }
  &__text--primary {
    font-family: "Roboto-Regular";
    font-size: 1em;
    line-height: 148%;
  }

  @include tablet-landscape {
    &__title--primary {
      font-size: 3em;
    }
    &__subtitle--primary {
      font-size: 1.25em;
    }
    &__title--secondary {
      font-size: 2em;
    }
    &__subtitle--secondary {
      font-size: 1.125em;
    }
    &__text--primary {
      font-family: "Roboto-Regular";
      font-size: 1.25em;
      line-height: 148%;
    }
  }
}

/* Card Titles */
.card {
  &__title--primary{
    font-family: "Roboto-Bold";
    font-size: 1.5em;
    line-height: 120%;
  }
  &__title--secondary{
    font-family: "Roboto-Light";
    font-size: 1.5em;
    line-height: 120%;
  }
  &__excerpt--primary{
    font-family: "Roboto-Regular";
    font-size: 1.125em;
    line-height: 148%;
  }
}

strong {
  font-family: "Roboto-Bold";
}