$primary-bold:"Roboto-Bold";
$primary-medium: "Roboto-Medium";
$primary-regular: "Roboto-Regular";
$primary-light: "Roboto-Light";


/* Line-height */ 
$larger: 148%;
$medium: 120%;



/* Spacing */ 
$padding-mobile: 1.5rem;

/* Banner Titles */
.banner {
  &__title--primary {
    font-family: "Roboto-Bold";
    font-size: 2.5em;
    line-height: 120%;
    margin: 0;
  }
  &__subtitle--primary{
    font-family: $primary-light;
    font-size: 1.125em;
    line-height: 148%;
  }
  &__title--secondary{
    font-family: "Roboto-Bold";
    font-size: 2em;
    line-height: 120%;
    margin: 0;
  }
  &__subtitle--secondary{
    font-family: "Roboto-Light";
    font-size: 2em;
    line-height: 120%;
  }
  @include tablet-landscape {
    &__title--primary {
      font-size: 4em;
    }
    &__subtitle--primary {
      font-size: 1.5em;
    }
    &__title--secondary {
      font-size: 3.125em;
    }
    &__subtitle--secondary {
      font-size: 3.125em;
    }
  }
}

/* Section Titles */
.section {
  &__title--primary {
    font-family: "Roboto-Light";
    font-size: 2em;
    color: currentColor;
    text-transform: uppercase;
    line-height: 120%;

    /* Escope */
    strong {
      font-family: $primary-regular;
      color: $red-medium;
      text-decoration: underline;
    }
  }
  &__subtitle--primary{
    font-family: "Roboto-Light";
    font-size: 1em;
    color: currentColor;
    line-height: 148%;
    margin: 0.5rem 0 2rem 0;
  }
  &__title--secondary {
    font-family: "Roboto-bold";
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    line-height: 120%;
  }
  &__text--primary {
    font-family: "Roboto-Regular";
    font-size: 1em;
    line-height: 148%;
  }

  @include tablet-landscape {
    &__title--primary {
      font-size: 3em;
    }
    &__subtitle--primary {
      font-size: 1.25em;
    }
    &__title--secondary {
      font-size: 2em;
    }
    &__subtitle--secondary {
      font-size: 1.125em;
    }
    &__text--primary {
      font-family: "Roboto-Regular";
      font-size: 1.25em;
      line-height: 148%;
    }
  }
}

/* Card Titles */
.card {
  &__title--primary{
    font-family: "Roboto-Bold";
    font-size: 1.5em;
    line-height: 120%;
  }
  &__title--secondary{
    font-family: "Roboto-Light";
    font-size: 1.5em;
    line-height: 120%;
  }
  &__excerpt--primary{
    font-family: "Roboto-Regular";
    font-size: 1.125em;
    line-height: 148%;
  }
}

strong {
  font-family: "Roboto-Bold";
}